<!-- Add your content of head and header -->
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link href="./assets/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="./assets/favicon.ico" rel="icon">

  <title>디.수.오-당신의 디스크 수술비 500만원</title>  

<link href="{{ url_for('static', filename='css/main.97292821.css')}}" rel="stylesheet"></head>

<body>

 <!-- Add your content of header -->
<!-- <header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="navbar-collapse">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="./index.html#contact-section-container" title="" class="anchor-link">Contact Us</a></li>
            <li>
                <p>
                    <a href="./components.html" class="btn btn-default navbar-btn" >Components</a>
                </p>
            </li>


        </ul>

      </div>
    </div>
  </nav>
</header>
 -->


<!-- Add your site or app content here -->
<div class="background-image-container white-text-container" style="background-image: url('/static/images/img-08.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>DiSuO</h1>
                <p class="">비대면 수업과 재택 근무로 인해, <br> 책상 앞에 앉아 있는 시간이 길어진 여러분들을 위한 <br> 자세 교정 알림 서비스입니다.</p>
                <!-- <a href="#contact-section-container" class="btn btn-primary btn-lg anchor-link" title="">Get in touch</a> -->
            </div>
        </div>
    </div>
</div>

<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 section-container-spacer">
                <h2 class="text-center">Pose Option</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="fa-container">
                    <button class="btn" onclick="window.location.href='/static_ver'"><i class="fa fa-battery-half fa-4x" aria-hidden="true"></i></button>
                </div>
                <h3 class="text-center">Static Version</h3>
                <p>Static Version은 사진을 업로드하여 자세 분석 결과를 확인할 수 있습니다.</p>
            </div>

            <div class="col-xs-12 col-md-6">
                <div class="fa-container">
                    <button class="btn" onclick="window.location.href='/live_ver'"><i class="fa fa-battery-full fa-4x" aria-hidden="true"></i></button>
                </div>
                <h3 class="text-center">Live Version</h3>
                <p>Live Version은 웹 캠을 이용하여 실시간으로 사용자의 자세를 분석해 줍니다.</p>
            </div>
            <!-- <div class="col-xs-12 col-md-4">
                <div class="fa-container">
                    <i class="fa fa-bell-o fa-3x" aria-hidden="true"></i>
                </div>
                <h3 class="text-center">Phasellus</h3>
                <p> Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
            </div> -->
        </div>
    </div>
</div>

<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 section-container-spacer">
                <h2 class="text-center">Nearby Posture Correction Hospitals </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="fa-container">
                    <button class="btn" onclick="window.location.href='/search_hospital'"><i class="fa fa-hospital-o fa-4x" aria-hidden="true"></i></button>
                </div>
                <h3 class="text-center">내 주변 자세 교정 병원 검색하기</h3>
                <p class="text-center">나의 주소를 입력하면 가까운 자세 교정 병원들을 검색할 수 있습니다. </p>
            </div>
        </div>
    </div>
</div>


<div class="section-container section-half-background-image-container">
    <!-- <div class="image-column" style="background-image: url('./assets/images/img-01.jpg')"></div> -->
    <!-- <iframe width="1200" height="630" src="https://www.youtube.com/embed/pb-DDSdqD-I" title="YouTube video player"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
    <iframe width="1200" height="630" src="https://www.youtube.com/embed/43ioxbJIzpI" title="YouTube video player" class="image-column" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-6 text-column">
                <h2>How DiSuO?</h2>
                <h3>For you <br> who are sitting on chair <br>for a long time</h3>

                <p><br>많은 사람들이 집과 회사, 학교 등에서 컴퓨터를 사용하는 시대가 되면서 우리는 점점 거북목과 같은 올바르지 않은 자세에 익숙해지게 되었습니다. 이로 인해 디스크와 같은 질병에 걸리게 되면서 사람들의 건강이 위협받게 되었습니다. </p>
                <p><br>이 상황을 보며, 우리는 어떻게 하면 더욱 자세 교정을 효과적으로 할 수 있을 지에 대한 고민을 하게 되었습니다. 그 결과 인공지능의 한 분야인 컴퓨터 비전을 활용하여 자세를 교정하는 웹페이지를 디자인하면 효과적일 것이라고 생각하게 되었고, 디수오를 제작하게 되었습니다. </p>
                <p><br>디수오를 통해 사람들이 평상시 뿐만 아니라 컴퓨터를 이용할 때에도 올바른 자세를 유지하도록 하는 것이 우리의 목표입니다.</p>
            </div>
        </div>
    </div>
</div>



<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 section-container-spacer">
                <h2 class="text-center">Why DiSuO?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <img src="{{ url_for('static', filename='images/img-02.jpg') }}"  alt="" class="img-responsive">
                <h3 class="text-center">Waist</h3>
                <p> 
                    <br>허리는 건물의 기본 뼈대와 같이 우리 몸의 균형을 잡아주는 중심축 역할을 한다. 위로는 목과 머리를 받쳐 안정을 유지하고 여러 방향으로 움직일 수 있도록 해주며, 아래쪽으로는 골반과 연결되어 전후좌우 골절운동 및 회전 등의 움직임을 자유롭게 할 수 있게 한다.
                    <br><br>앉아있을 때에는 우리 몸의 척추근육이 이완되는 동시에 몸의 하중이 척추 뼈에 실리면서, 서 있을 때보다 약 40% 이상의 압력이 허리에 가해진다. 따라서 오래 앉아 있더라도 바른 자세로 앉아있는 것이 중요하다. 하지만 바른 자세를 하지 않고 다리를 꼬거나 구부정한 자세를 취하는 등의 올바르지 않은 자세를 하고 있을 경우, 허리로 전달되는 압력은 더욱 심해지게 된다.
                    <br><br>척추에 무리가 오는 것을 방치할 경우 허리부터 시작해서 엉덩이 부위의 엉치 통증이나 종아리, 발 쪽으로 통증이 나타나게 된다. 심할 경우 다리의 감각이 둔해지고 힘이 빠지기도 하며, 허리 디스크가 정상적인 위치에서 탈출하여 신경을 압박하는 현상이 일어나기도 한다. 또한 협착증 등 여러 질환으로 발전할 수 있다.
                </p>
            </div>

            <div class="col-xs-12 col-md-4">
                <img src="{{ url_for('static', filename='images/img-03.jpg') }}"  alt="" class="img-responsive">
                <h3 class="text-center">Shoulder</h3>
                <p>
                    <br>앉아서 일하는 시간이 많은 직장인과 학생들 사이에서 어깨 근육이 굳어져 뻐근하게 통증을 느끼는 경우가 많이 발생하고 있다. 잘못된 자세를 오랜 시간 유지하면 어깨가 둥글게 말리면서 경추와 흉추가 앞으로 튀어나오고, 그 결과 근육이 약화되어 거북목이나 척추통증 등이 발생한다.
                    <br><br>서있을 때에도 머리를 앞으로 숙인 자세는 경부와 견관절의 근육에 스트레스를 주어 통증을 지속시킬 수 있으며 어깨를 올린 상태에서 손으로 작업을 하게 되는 타이피스트나 컴퓨터 프로그래머의 경우 손을 올린 채 어깨를 움추리는 자세를 취하기 때문에 어깨쪽 근육에 부담을 주어 통증을 지속시키게 된다.
                    <br><br>어깨질환은 평소 올바른 생활습관을 통해 예방해야 한다. 틀어지고 잘못된 자세는 어깨 뿐만아니라 근육과 척추에 많은 부담을 줄 수 있으니 올바른 자세를 취하고, 가벼운 스트레칭으로 긴장을 풀어주는 것이 좋다.
                </p>
            </div>

            <div class="col-xs-12 col-md-4">
                <!-- src="./assets/images/img-04.jpg"  -->
                <img src="{{ url_for('static', filename='images/img-04.jpg') }}" alt="" class="img-responsive">
                <h3 class="text-center">Neck</h3>
                <p>
                    <br>몸의 전체적인 균형을 위해서는 목의 형태가 올바르게 자리 잡고 있는 것이 중요하다. 그러나 컴퓨터 작업 시 오랜 시간 동안 옳지 않은 자세를 유지하는 경우가 많기에 목 디스크 환자가 지속적으로 증가하고 있다.
                    <br><br> 목 자세가 좋지 않으면 일자목 혹은 거북목 증후군은 물론 목 디스크나 기타 퇴행성 질환의 시초가 된다. 나아가 목 뼈의 정상적인 역학이 무너지면서 경추부 디스크에 손상을 주고 경추 뼈의 관절염이 가속된다. 이는 단순히 통증만 있는 것이 아니라 호흡에도 지장을 줄 수 있다.
                    <br><br> 목 디스크를 예방하기 위해서는 책상에 앉아 컴퓨터 작업 시 모니터를 정면으로 바라보는 등 올바른 자세를 유지하는 것이 중요하다. 또한 주기적으로 스트레칭을 통해 목을 포함한 몸 전체에 전반적인 긴장을 풀어주는 것이 중요하다.
                </p>
            </div>
        </div>
    </div>
</div>



<!-- <div class="">
    <div class='container-fluid'>
        <div class="row map-container">
            <div id="map"></div>
            <div class="col-xs-10 col-md-4 contact-block-container reveal">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <h3>Phone</h3>
                        <p>+ 123 45 67 890</p>

                        <h3>E-mail</h3>
                        <p>hello@email.com</p>

                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <h3>Address</h3>
                        <p>42 rue rouelle 75015, Paris</p>

                        <h3>Open hours</h3>
                        <p>Mon - Fri : 9AM - 5PM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<!-- <div class="section-container" id="contact-section-container">
    <div class="container contact-form-container">
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <div class="section-container-spacer">
                    <h2 class="text-center">Get in touch</h2>
                </div>
                <form action="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea class="form-control" rows="3" placeholder="Enter your message"></textarea>
                    </div>

                    <div class="form-group">
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox1" value="option1">Email me a copy
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox2" value="option2">I am a human
                        </label>
                    </div>

                    <button type="submit" class="btn btn-primary">Send message</button>
                    <a href="" class="btn btn-default">Reset</a>
                </form>
            </div>
        </div>
    </div>
</div> -->

<script>
document.addEventListener("DOMContentLoaded", function (event) {
    
  googleMapInit(); 
  scrollToAnchor();
  scrollRevelation('reveal');
});
</script>

<footer class="footer-container white-text-container">
    <div class="container">
        <div class="row">
                <div class="col-md-6">
                    <h4>About us</h4>
                    <p>Sungkyunkwan University. College of Computing and Informatics. Department of Applied Artificial Intelligence. COCO DiSuO Project Team.</p>
                </div>

                <div class="col-md-6">
                    <h4>Do you like ? Share this !</h4>
                    <div>
                        <p>
                            <a href="https://www.twitter.com" class="fa-icon" title="">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                            <a href="https://www.facebook.com" class="fa-icon" title="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.linkedin.com" class="fa-icon" title="">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </p>
                    </div>
                    <div>
                        <p><small>© DiSuO | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></small></p>
                    </div>

                </div>

                <!-- <div class="col-md-4">
                        
                    <h4>Subscribe to newsletter</h4>
                    
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control footer-input-text">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default btn-newsletter ">OK</button>
                            </div>
                        </div>
                        
                        
                    </div>
                </div> -->
        </div>
    </div>
</footer>

<script>
document.addEventListener("DOMContentLoaded", function (event) {
  navbarToggleSidebar();
});
</script>


<script type="text/javascript" src= "{{ url_for('static', filename='js/main.faaf51f9.js')}}"  ></script>

</body>
</html>